<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">

    <joint name="sensor_kit_base_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="sensor_kit_base_link"/>
    </joint>
    <link name="sensor_kit_base_link"/>

    <joint name="camera_center_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.05 0 0.10"/>
      <parent link="sensor_kit_base_link"/>
      <child link="camera_center_link"/>
    </joint>
    <link name="camera_center_link"/>

    <joint name="camera_left_joint" type="fixed">
      <origin rpy="0 0 0.52" xyz="0.0 0.10 0.10"/>
      <parent link="sensor_kit_base_link"/>
      <child link="camera_left_link"/>
    </joint>
    <link name="camera_left_link"/>

    <joint name="camera_right_joint" type="fixed">
      <origin rpy="0 0 -0.52" xyz="0.0 -0.10 0.10"/>
      <parent link="sensor_kit_base_link"/>
      <child link="camera_right_link"/>
    </joint>
    <link name="camera_right_link"/>

    <joint name="lidar_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.05 0 -0.20"/>
      <parent link="sensor_kit_base_link"/>
      <child link="lidar_link"/>
    </joint>
    <link name="lidar_link"/>

  </xacro:macro>
</robot>
