testing/
build/
install/
log/
modules/build/
modules/install/
modules/log/
**/build/
**/install/
**/log/
__pycache__/
*.pyc
**/.DS_Store
.DS_Store
*.egg-info/
.pytest_cache/
.venv/
venv/
*.tmp
*.bag
*.db3
*.mcap
*.pcap
*.pcapng
rosbag2_*/
modules/perception/.tmp_autoware_run.sh
modules/sensor/ros2_v4l2_camera/
modules/sensor/sllidar_ros2/
